/*16px=1rem*/
@nav-color:#4a9fff;

/*button default*/
.k-btn{
    padding:0px 65px;
    button:nth-child(1){
        background-color: @nav-color; border-radius: 10px; border:1px solid white; color: white; height: 90px; line-height: 90px;
    }
}

.k-btn-border{
    width:100%;
    button:nth-child(1){
        background-color: white;
        border-radius: 5px; border-bottom:1px solid #d2d2d2; border-right:1px solid #d2d2d2;
        box-sizing: border-box;
        color: #3d3d3d; height: 60px; line-height: 60px;
        font-size: 24px;
    }
}

.k-btn-orange{
    width:100%;
    button:nth-child(1){
        background-color: #ff8635;
        border-radius: 5px; color: white; height: 60px; line-height: 60px;
        font-size: 24px;
    }
}
